

#history {
	position: absolute;
	bottom: 30px;
	left: 30px;

	background: #fff;
	border: solid rgba(0,0,0,0.4) 1px;
	border-radius: 15px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	padding: 30px;

	font-family: "tahoma";
	letter-spacing: 0.02rem;
	-webkit-font-smoothing: antialiased;
}

#history h1 {
	font-size: 1.6rem;
	padding-bottom: 10px;
	border-bottom: solid rgba(0,0,0, 0.8) 1px;
}
#history ul {
	padding-top: 10px;
}
#history li {
	font-size: 1.2rem;
	padding: 5px 0;
}